# Python / Django
__pycache__/
*.py[cod]
*.log

# DB
*.sqlite
*.sqlite3
identifier.sqlite

# Venv
.venv/
venv/
env/

# Secrets
.env
.env.*

# IDE
.idea/
*.iml

# Static/media (если собираешь)
staticfiles/
media/

# Windows device names
NUL
PRN
AUX
CON
# IDE
.idea/
# Venv
.venv/
# DB
*.sqlite*
identifier.sqlite
# Secrets
.env*

NUL
PRN
AUX
CON
.env*
.venv/
.idea/
*.sqlite*
identifier.sqlite

NUL
PRN
AUX
CON
.env*
.venv/
.idea/
*.sqlite*
identifier.sqlite
